.vintage-paragraph {
    padding: 20px;
    margin: 50px 0;
    background-image: url('../public/background.svg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  background-position: center;
    text-align: justify;
  }
  
  .vintage-svg-container {
    position: relative;
    
    width: 100%;
    height: 300px; /* Ajuste la hauteur selon tes besoins */
  }
  
  .vintage-text {
    color: #dfd7ce;
    letter-spacing: 1px;
    line-height: 1.6;
    margin: 20px 0 0 0;
  }
  